@import "tailwindcss";

:root {
  --background: #101828;
  --foreground: #f8fafc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-play), Arial, sans-serif;
}

a {
  text-decoration: none;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-play {
  font-family: var(--font-play), sans-serif;
}